apisanfarm/docs/wsdl/SetDisassociaDeviceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="SetDisassociaDeviceServiceImplService" targetNamespace="http://setdisassociadevice.msg.interfacews.farmab.dma.csi.it/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://setdisassociadevice.msg.interfacews.farmab.dma.csi.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema targetNamespace="http://setdisassociadevice.msg.interfacews.farmab.dma.csi.it/" version="1.0" xmlns:tns="http://setdisassociadevice.msg.interfacews.farmab.dma.csi.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="setDisassociaDevice" type="tns:setDisassociaDeviceRequest"/>
<xs:element name="setDisassociaDeviceResponse" type="tns:setDisassociaDeviceResponse"/>
<xs:complexType name="setDisassociaDeviceRequest">
<xs:complexContent>
<xs:extension base="tns:serviceRequest">
<xs:sequence>
<xs:element minOccurs="0" name="cfCittadino" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="serviceRequest">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="richiedente" type="tns:richiedente"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="richiedente">
<xs:sequence>
<xs:element minOccurs="0" name="applicativoVerticale" type="tns:tipoCodice"/>
<xs:element minOccurs="0" name="applicazione" type="tns:tipoCodice"/>
<xs:element minOccurs="0" name="codiceFiscale" type="xs:string"/>
<xs:element minOccurs="0" name="ip" type="xs:string"/>
<xs:element minOccurs="0" name="numeroTransazione" type="xs:string"/>
<xs:element minOccurs="0" name="ruolo" type="tns:tipoCodice"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="tipoCodice">
<xs:sequence>
<xs:element minOccurs="0" name="codice" type="xs:string"/>
<xs:element minOccurs="0" name="descrizione" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="setDisassociaDeviceResponse">
<xs:complexContent>
<xs:extension base="tns:serviceResponse">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="serviceResponse">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="esito" type="xs:string"/>
<xs:element minOccurs="0" name="elencoErrori" type="tns:elencoErroriType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="elencoErroriType">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="errore" type="tns:errore"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="errore">
<xs:sequence>
<xs:element name="codice" type="xs:string"/>
<xs:element minOccurs="0" name="descrizione" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="codifica">
<xs:sequence>
<xs:element minOccurs="0" name="codice" type="xs:string"/>
<xs:element minOccurs="0" name="descrizione" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="setDisassociaDevice">
    <wsdl:part element="tns:setDisassociaDevice" name="setDisassociaDevice">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setDisassociaDeviceResponse">
    <wsdl:part element="tns:setDisassociaDeviceResponse" name="setDisassociaDeviceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SetDisassociaDeviceService">
    <wsdl:operation name="setDisassociaDevice">
      <wsdl:input message="tns:setDisassociaDevice" name="setDisassociaDevice">
    </wsdl:input>
      <wsdl:output message="tns:setDisassociaDeviceResponse" name="setDisassociaDeviceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SetDisassociaDeviceServiceImplServiceSoapBinding" type="tns:SetDisassociaDeviceService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="setDisassociaDevice">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setDisassociaDevice">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setDisassociaDeviceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SetDisassociaDeviceServiceImplService">
    <wsdl:port binding="tns:SetDisassociaDeviceServiceImplServiceSoapBinding" name="SetDisassociaDevicePort">
      <soap:address location="https://xxx-dma.xxx.csi.it/farmab/SetDisassociaDeviceService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>