apisancons/docs/wsdl/AURA.WS.AnagrafeFind.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://AnagrafeFind.central.services.auraws.aura.csi.it" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://AnagrafeFind.central.services.auraws.aura.csi.it">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://AnagrafeFind.central.services.auraws.aura.csi.it">
            <s:element name="FindProfiliAnagrafici">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="profiliRequest" type="s0:findProfiliAnagraficiRequest"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="findProfiliAnagraficiRequest">
                <s:complexContent>
                    <s:extension base="s0:Ens_Request">
                        <s:sequence>
                            <s:element minOccurs="0" name="codiceFiscale" type="s:string"/>
                            <s:element minOccurs="0" name="cognome" type="s:string"/>
                            <s:element minOccurs="0" name="nome" type="s:string"/>
                            <s:element minOccurs="0" name="dataNascita" type="s:string"/>
                            <s:element minOccurs="0" name="dataDa" type="s:string"/>
                            <s:element minOccurs="0" name="dataA" type="s:string"/>
                            <s:element minOccurs="0" name="flagDecesso" type="s:string"/>
                            <s:element minOccurs="0" name="idEnte" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Request">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Messagebody"/>
            <s:element name="FindProfiliAnagraficiResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="FindProfiliAnagraficiResult" type="s0:datiAnagraficiMsg"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="datiAnagraficiMsg">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="header" type="s0:Header"/>
                            <s:element minOccurs="0" name="body" type="s0:DatiAnagraficiBody"/>
                            <s:element minOccurs="0" name="footer" type="s0:Footer"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Response">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Header">
                <s:sequence>
                    <s:element minOccurs="0" name="actors" type="s0:ArrayOfactorActor"/>
                    <s:element minOccurs="0" name="codiceRitorno" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfactorActor">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="actor" nillable="true" type="s0:Actor"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Actor">
                <s:sequence>
                    <s:element minOccurs="0" name="id" type="s:string"/>
                    <s:element minOccurs="0" name="name" type="s:string"/>
                    <s:element minOccurs="0" name="value" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="DatiAnagraficiBody">
                <s:sequence>
                    <s:element minOccurs="0" name="elencoProfili" type="s0:ArrayOfdatianagraficiDatiAnagrafici"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfdatianagraficiDatiAnagrafici">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="datianagrafici" nillable="true" type="s0:DatiAnagrafici"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="DatiAnagrafici">
                <s:sequence>
                    <s:element minOccurs="0" name="idProfiloAnagrafico" type="s:decimal"/>
                    <s:element minOccurs="0" name="codiceFiscale">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:pattern value="[a-zA-Z]{6}\d{2}[a-zA-Z]\d{2}[a-zA-Z]\d{3}[a-zA-Z]"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="cognome">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="50"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="nome" type="s:string"/>
                    <s:element minOccurs="0" name="sesso">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:pattern value="M|F|I"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="dataNascita" type="s:dateTime"/>
                    <s:element minOccurs="0" name="codiceStatoNascita" type="s:string"/>
                    <s:element minOccurs="0" name="statoNascita" type="s:string"/>
                    <s:element minOccurs="0" name="comuneNascita" type="s:string"/>
                    <s:element minOccurs="0" name="codiceComuneNascita" type="s:string"/>
                    <s:element minOccurs="0" name="provinciaNascita" type="s:string"/>
                    <s:element minOccurs="0" name="dataDecesso" type="s:dateTime"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Footer">
                <s:sequence>
                    <s:element minOccurs="0" name="messages" type="s0:ArrayOfmessageMessage"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfmessageMessage">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="message" nillable="true" type="s0:Message"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Message">
                <s:sequence>
                    <s:element minOccurs="0" name="codice" type="s:string"/>
                    <s:element minOccurs="0" name="descrizione" type="s:string"/>
                    <s:element minOccurs="0" name="note" type="s:string"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
    </types>
    <message name="FindProfiliAnagraficiSoapIn">
        <part name="parameters" element="s0:FindProfiliAnagrafici"/>
    </message>
    <message name="FindProfiliAnagraficiSoapOut">
        <part name="parameters" element="s0:FindProfiliAnagraficiResponse"/>
    </message>
    <portType name="AnagrafeFindSoap">
        <operation name="FindProfiliAnagrafici">
            <input message="s0:FindProfiliAnagraficiSoapIn"/>
            <output message="s0:FindProfiliAnagraficiSoapOut"/>
        </operation>
    </portType>
    <binding name="AnagrafeFindSoap" type="s0:AnagrafeFindSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="FindProfiliAnagrafici">
            <soap:operation soapAction="http://AnagrafeFind.central.services.auraws.aura.csi.it/AURA.WS.AnagrafeFind.FindProfiliAnagrafici" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="AnagrafeFind">
        <port name="AnagrafeFindSoap" binding="s0:AnagrafeFindSoap">
            <soap:address location="https://xxx.xxx.it/sanitxens/AURA.WS.AnagrafeFind.cls"/>
        </port>
    </service>
</definitions>