apisanpresc/src/java/it/csi/apisan/apisanpresc/soap/pro/elenconrenascosti/ElencoNreNascostiService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ElencoNreNascostiService" targetNamespace="http://dmapro.csi.it/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://dmapro.csi.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://dmapro.csi.it/" xmlns:ns1="http://dma.csi.it/" xmlns:tns="http://dmapro.csi.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://dma.csi.it/" />
  <xs:element name="elencoNreNascostiRequest" type="tns:elencoNreNascosti" />
  <xs:element name="elencoNreNascostiResponse" type="tns:elencoNreNascostiResponse" />
  <xs:complexType name="elencoNreNascosti">
    <xs:sequence>
      <xs:element name="richiedente" type="tns:richiedente" />
      <xs:element name="paziente" type="tns:estremiPaziente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="richiedente">
    <xs:sequence>
      <xs:element name="servizioApplicativoChiamante" type="xs:string" />
      <xs:element name="uuid" type="xs:string" />
      <xs:element name="codiceFiscaleRichiedente" type="xs:string" />
      <xs:element minOccurs="0" name="identificativoIpRichiedente" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estremiPaziente">
    <xs:sequence>
      <xs:element name="codiceFiscale" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elencoNreNascostiResponse">
    <xs:complexContent>
      <xs:extension base="tns:serviceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="listaNre" type="tns:ListaNreType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="serviceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="esito" type="xs:string" />
      <xs:element minOccurs="0" name="errori" type="ns1:ListaErroriType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaNreType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="nre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xs:schema targetNamespace="http://dma.csi.it/" version="1.0" xmlns:tns="http://dma.csi.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="ListaErroriType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="errore" type="tns:errore" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="errore">
    <xs:sequence>
      <xs:element minOccurs="0" name="codiceEsito" type="xs:string" />
      <xs:element minOccurs="0" name="esitoErrore" type="xs:string" />
      <xs:element minOccurs="0" name="fonte" type="xs:string" />
      <xs:element minOccurs="0" name="tipoErrore" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="elencoNreNascosti">
    <wsdl:part element="tns:elencoNreNascostiRequest" name="elencoNreNascostiRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="elencoNreNascostiResponse">
    <wsdl:part element="tns:elencoNreNascostiResponse" name="elencoNreNascostiResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ElencoNreNascostiService">
    <wsdl:operation name="elencoNreNascosti">
      <wsdl:input message="tns:elencoNreNascosti" name="elencoNreNascosti">
    </wsdl:input>
      <wsdl:output message="tns:elencoNreNascostiResponse" name="elencoNreNascostiResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ElencoNreNascostiServiceSoapBinding" type="tns:ElencoNreNascostiService">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="elencoNreNascosti">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="elencoNreNascosti">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="elencoNreNascostiResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ElencoNreNascostiService">
    <wsdl:port binding="tns:ElencoNreNascostiServiceSoapBinding" name="ElencoNreNascostiServicePort">
      <soap12:address location="https://tst-srv-promemoria.isan.csi.it/prorel/ElencoNreNascostiService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>