apisanpresc/src/java/it/csi/apisan/apisanpresc/soap/pro/logaudit/LogAuditService3.wsdl

<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://dmapro.csi.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LogAuditService" targetNamespace="http://dmapro.csi.it/">
  <wsdl:types>
    <xs:schema xmlns:ns1="http://dma.csi.it/" xmlns:tns="http://dmapro.csi.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dmapro.csi.it/" version="1.0">
      <xs:import namespace="http://dma.csi.it/"/>
      <xs:element name="logAuditRequest" type="tns:logAuditRequest"/>
      <xs:element name="logAuditResponse" type="tns:logAuditResponse"/>
      <xs:complexType name="logAuditRequest">
        <xs:complexContent>
          <xs:extension base="ns1:richiedente">
            <xs:sequence>
              <xs:element name="codiceFiscalePaziente" type="xs:string"/>
              <xs:element name="audit" type="ns1:audit"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="logAuditResponse">
        <xs:complexContent>
          <xs:extension base="tns:serviceResponse">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="serviceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" ref="ns1:esito"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns1:errori"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://dma.csi.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dma.csi.it/" version="1.0">
      <xs:element name="errori" type="tns:errore"/>
      <xs:element name="esito" type="xs:string"/>
      <xs:complexType name="richiedente">
        <xs:sequence>
          <xs:element name="sistemaRichiedente" type="tns:sistemaRichiedente"/>
          <xs:element name="utenteRichiedente" type="tns:utenteRichiedente"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="audit">
        <xs:sequence>
          <xs:element minOccurs="0" name="codice" type="xs:string"/>
          <xs:element minOccurs="0" name="dataOra" type="xs:string"/>
          <xs:element minOccurs="0" name="descrizione" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sistemaRichiedente">
        <xs:sequence>
          <xs:element name="identificativoUnivocoRichiesta" type="xs:string"/>
          <xs:element name="servizioApplicativoChiamante" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="utenteRichiedente">
        <xs:sequence>
          <xs:element name="codiceFiscale" type="xs:string"/>
          <xs:element minOccurs="0" name="identificativoIP" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="errore">
        <xs:sequence>
          <xs:element minOccurs="0" name="codiceEsito" type="xs:string"/>
          <xs:element minOccurs="0" name="esitoErrore" type="xs:string"/>
          <xs:element minOccurs="0" name="fonte" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoErrore" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="logAuditResponse">
    <wsdl:part element="tns:logAuditResponse" name="logAuditResponse"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logAudit">
    <wsdl:part element="tns:logAuditRequest" name="logAuditRequest"> </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LogAuditService">
    <wsdl:operation name="logAudit">
      <wsdl:input message="tns:logAudit" name="logAudit"> </wsdl:input>
      <wsdl:output message="tns:logAuditResponse" name="logAuditResponse"> </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LogAuditServiceSoapBinding" type="tns:LogAuditService">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="logAudit">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="logAudit">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="logAuditResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LogAuditService">
    <wsdl:port binding="tns:LogAuditServiceSoapBinding" name="LogAuditServicePort">
      <soap12:address location="https://tst-srv-promemoria.isan.csi.it/prorel/LogAuditService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>